.end-screen {
  margin-top: 350px;
  padding-top: 60px;
}

.end-screen-header{
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 50px;
}

.stat{
  font-size: 21px;
  font-weight: 500;
}

.spacer{
  margin: 50px auto;
  border-bottom: 2px solid #ccc;
}

.endscreen-link{
  margin-top: 80px;
  text-decoration: underline;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.finish-typing-message{
  font-size: 30px;
  font-weight: 500;
  padding-top: 150px;
}

@media only screen and (min-width: 992px){
  .stat{
    font-size: 25px;
  }
  .end-screen-header{
    font-size: 33px;
    margin-bottom: 80px;
  }
  .finish-typing-message{
    font-size: 32px;
    font-weight: 500;
    padding-top: 200px;
  }
}
