
.text{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  padding-top: 4px;
  border: 2px solid #444;
  overflow: hidden !important;

  margin-top: 30px;
}

.typing > input{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  padding: 5px;
  color: inherit;
  outline: none;
  font-weight: 500;
}

.typing > input[type="submit"]{
  border-bottom: 5px solid #999;
  font-size: 30px;
  background-color: inherit;
}

.typing > input[type="text"]{
  padding: 10px;
  background-color: #131313 !important;
}

.typing{
  font-size: 25px;
  font-weight: 500;
  padding-top: 100px;
}

.timer{
  margin-top: 30px;
}

.input-header{
  padding-top: 20px;
}

.word{
  margin-right: 2px !important;
}

.endscreen-link{
  margin-top: 50px;
  text-decoration: underline;
  cursor: pointer;
}


/* For sm */
@media only screen and (min-width: 576px) {
  .text{
    height: 130px;
  }
  .typing{
    padding-top: 70px;
  }
  .input-header{
    padding-bottom: 8px;
  }
}

/* For md */
@media only screen and (min-width: 768px) and (max-width: 992px) {
 /* I guess theres nothing to change here at this moment */
}

/* For lg */
@media only screen and (min-width: 992px){
  .text{
    font-size: 24px;
    height: 155px;
  }
  .typing{
    padding-top: 75px;
  }
}
