<section class="typing row">
  <h3 class="col-12 mb-5"> Typing Speed Test: </h3>

  <div class="text-to-rewrite">

  </div>

  <div class="col-1"></div>
  <div class="col-10 typing">

  <div class="col-12 mb-2 mt-5"> Your typing text </div>
  <div name="name" class="col-12 text" rows="2">
    <span v-for="(word, index) in typing_words_left">
      {{ word }}
    </span>
  </div>

  <div class="col-12 mb-2 mt-5 input-header"> Type below: </div>
  <input type="text" class="col-12 input" v-model="current_user_text" v-on:keyup="TextOnchange"
    v-bind:style= "[is_current_input_correct ? {'color': 'inherit'} : {'color': 'red'}]" />


  <div class="timer"> {{ typing_time-typed_seconds }} </div>

  <!--<input type="submit" value="Start typing!" class="input submit mt-5"/>-->

  </div>
  <div class="col-1"></div>

</section>
