.typing {

}

.text{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  font-weight: 500;
  height: 100px;
  padding-top: 4px;
  border: 2px solid #444 !important;
  overflow: hidden !important;
}

.typing > input{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  padding: 5px;
  color: inherit;
  outline: none;
  font-weight: 500;
}

.typing > input[type="submit"]{
  border-bottom: 5px solid #999;
  font-size: 30px;
  background-color: inherit;
}

.typing > input[type="text"]{
  padding: 10px;
}

.typing{
  font-size: 25px;
  font-weight: 500;
}
