<section class="typing row">
  <h3 class="col-12 mb-5"> Typing Speed: </h3>

  <div class="text-to-rewrite">

  </div>

  <div class="col-1"></div>
  <div class="col-10 typing">

  <div class="col-12 mb-2 mt-5"> Your typing text: </div>
  <div name="name" rows="6" cols="80" class="col-12 text"></div>

  <div class="col-12 mb-2 mt-5"> Type below: </div>
  <textarea type="text" class="col-12 input"
      min="10" max="9999">
  </textarea>

  <input type="submit" value="Start typing!" class="input submit mt-5"/>

  </div>
  <div class="col-1"></div>

</section>
