.settings {
  padding-bottom: 200px;
}

.settings-inputs{
  font-size: 20px;
  font-weight: 500;
}

.settings-inputs > .input{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  padding: 5px;
  color: inherit;
  outline: none;
  font-weight: 500;
  text-align: center;
}

.settings-inputs > textarea{
  border: 2px solid #444 !important;
  overflow-y: scroll;
}

.settings-inputs > .submit{
  border-bottom: 5px solid #999;
  font-size: 30px;
  background-color: inherit;
}

/* For sm */
@media only screen and (min-width: 576px) {
  .settings {
    padding-bottom: 250px;
    padding-top: 50px;
  }
  .settings-header{
    padding-top: 40px;
  }
}

/* For md */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .settings {
    padding-bottom: 300px;
    padding-top: 50px;
  }
  .settings-header{
    padding-top: 40px;
    font-size: 32px;
    padding-bottom: 30px;
  }
}

/* For lg */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .settings {
    padding-bottom: 350px;
    padding-top: 50px;
  }
  .settings-header{
    padding-top: 40px;
    font-size: 32px;
    padding-bottom: 30px;
  }
  .input-header{
    font-size: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .submit{
    margin-top: 90px !important;
  }
}
