.settings {
  padding-bottom: 200px;
}

.settings-inputs{
  font-size: 20px;
  font-weight: 500;
}

.settings-inputs > .input{
  background-color: #131313;
  border: none;
  border-bottom: 4px solid #444;
  font-size: 20px;
  padding: 5px;
  color: inherit;
  outline: none;
  font-weight: 500;
}

.settings-inputs > textarea{
  border: 2px solid #444 !important;
  overflow: scroll;
}

.settings-inputs > .submit{
  border-bottom: 5px solid #999;
  font-size: 30px;
  background-color: inherit;
}
