<section class="settings row">
  <h1 class="mt-5 col-12"> Welcome to Typing Speed Test! </h1>
  <h3 class="mt-5 col-12"> In this application you will check how fast can you type! </h3>
  <h3 class="mt-5 col-12"> Settings: </h3>

  <div class="col-1"></div>
  <div class="col-10 mt-4 settings-inputs">

    <div class="col-12 mb-2"> Typing time (in seconds): </div>
    <input type="number" class="col-12 input"
         min="1" max="9999"/>

    <div class="col-12 mb-2 mt-5"> Number of words: </div>
      <input type="number" class="col-12 input"
          min="10" max="9999"/>

    <div class="col-12 mb-2 mt-5"> Or your own custom text: </div>
      <textarea name="name" rows="8" cols="80" class="col-12 input"></textarea>

    <input type="submit" value="Start typing!" class="input submit mt-5"/>

  </div>
  <div class="col-1"></div>

</section>
