<section class="settings row" id="settings">
  <h2 class="mt-5 col-12"> Welcome to Typing Speed Test! </h2>
  <h4 class="mt-5 col-12"> In this application you are able check how fast can you type! </h4>

  <h4 class="mt-5 col-12 settings-header"> Settings: </h4>

  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 mt-4 settings-inputs">

    <div class="col-12 mb-2 input-header"> Typing time (in seconds): </div>
    <input type="number" class="col-12 input" value = "60"
         min="1" max="9999" v-model="settings.number_of_seconds" />

    <div class="col-12 mb-2 mt-5 input-header"> Number of words: </div>
      <input type="number" class="col-12 input" value="10"
          min="10" max="9999" v-model="settings.number_of_words" />

    <input type="submit" value="Start typing!" class="input submit mt-5"
      v-on:click="scroll_to_typing()" v-scroll-to="'#typing'" />

  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>

</section>
